body{
    margin: 0;
    background-color: #02190c;
}
#root{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#background{
    position: relative;
    /* background-image: url('./images/trees.jpeg'); */
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
